### Build Tools ###
## Gradle ##
# local project-based gradle cache
.gradle

# module based build dir
build

### Developing Environments ###
## Intellij ##
# project based configuration #
.idea

### Package Managers ###
## PNPM ##
# Package Store
node_modules