body {
    --text-color: #2c2c2c;
    --text-color-alt: #424242;
    --bkg-color: #eeeeee;
    --bkg-color-alt: #cacaca;
    --border-color: #696969;
}
body.dark-theme {
    --text-color: #eeeeee;
    --text-color-alt: #cacaca;
    --bkg-color: #262626;
    --bkg-color-alt: #333333;
    --border-color: #696969;
}

@media (prefers-color-scheme: dark) {
    body {
        --text-color: #eeeeee;
        --text-color-alt: #cacaca;
        --bkg-color: #262626;
        --bkg-color-alt: #333333;
        --border-color: #696969;
    }
    body.light-theme {
        --text-color: #2c2c2c;
        --text-color-alt: #424242;
        --bkg-color: #eeeeee;
        --bkg-color-alt: #cacaca;
        --border-color: #696969;
    }
}


input {
    border: 1px solid var(--border-color);
    border-radius: 10px;
    color: var(--text-color);
    padding: 10px;
    margin: 0.5em;
    font-family: 'Open Sans', sans-serif;
    background-color: var(--bkg-color);
}

body {
    background: var(--bkg-color);
    color: var(--text-color);
}

.chat {
    width: 100%;
    max-height: 80%;
    overflow-y: scroll;
    position: fixed;
    left: 0px;
    bottom: 55px;
}

.message {
    width: fit-content;
    background: var(--bkg-color-alt);
    border-radius: 10px;
    margin: 0.5em;
    padding: 0.5em;
}

.sender {
    font-size: small;
    color: var(--text-color-alt);
}

.timestamp {
    font-size: x-small;
}

@media (pointer: none), (pointer: coarse) {
    body {
        font-size: 3.5vw;
    }
    input {
        border-radius: 30px;
        padding: 30px;
        font-size: 3.5vw;
    }
    .chat {
        bottom: 154px;
    }
    .message {
        border-radius: 30px;
    }
    .sender {
        font-size: x-large;
    }
    .timestamp {
        font-size: medium;
    }
}
.footer {
    position: fixed;
    display: inline-flex;
    justify-content: center;
    bottom: 0px;
    left: 0px;
    width: 100%;
}
.inputbox {
    width: 100%;
    outline: none;
}
.confirmbutton {
    margin-left: 0;
    cursor: pointer;
}