/* colour schemes */

body {
    --text-color: #2c2c2c;
    --text-color-alt: #424242;
    --bkg-color: #eeeeee;
    --bkg-color-alt: #cacaca;
    --border-color: #696969;
}
body.dark-theme {
    --text-color: #eeeeee;
    --text-color-alt: #cacaca;
    --bkg-color: #262626;
    --bkg-color-alt: #333333;
    --border-color: #696969;
}

@media (prefers-color-scheme: dark) {
    body {
        --text-color: #eeeeee;
        --text-color-alt: #cacaca;
        --bkg-color: #262626;
        --bkg-color-alt: #333333;
        --border-color: #696969;
    }
    body.light-theme {
        --text-color: #2c2c2c;
        --text-color-alt: #424242;
        --bkg-color: #eeeeee;
        --bkg-color-alt: #cacaca;
        --border-color: #696969;
    }
}


/* typography */

/* general */
body {
    background: var(--bkg-color);
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
}

button {
    border: 1px solid var(--border-color);
    border-radius: 10px;
    color: var(--text-color);
    width: 41px;
    height: 41px;
    padding: 10px;
    margin: 0.5em;
    flex-shrink: 0;
    background-color: var(--bkg-color);
    cursor: pointer;
}

button i {
    transform: scale(1);
    transition: all ease .3s;
}
button i:hover {
    transform: scale(1.3);
}

input {
    border: 1px solid var(--border-color);
    border-radius: 10px;
    color: var(--text-color);
    padding: 10px;
    margin: 0.5em;
    background-color: var(--bkg-color);
}

/* specific */
/* headerbar */
.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    background-color: var(--bkg-color-alt);
}

h1 {
    width: 100%;
    font-size: 1.5em;
    margin: 0;
    padding: 0.5em;
    color: var(--text-color);
}

.btn-colorscheme {
    background-color: var(--bkg-color-alt);
}

/* chat */
.chat {
    width: 100%;
    max-height: 80%;
    overflow-y: scroll;
    position: fixed;
    left: 0px;
    bottom: 55px;
}

.message {
    width: fit-content;
    background: var(--bkg-color-alt);
    border-radius: 10px;
    margin: 0.5em;
    padding: 0.5em;
}

.sender {
    font-size: small;
    color: var(--text-color-alt);
}

.timestamp {
    font-size: x-small;
}

/* input ui */
.footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0px;
    left: 0px;
}
.inputbox {
    width: 100%;
    margin-right: 0;
}
.btn-more {
    margin-left: -41px;
    margin-right: 0;
    border: none;
    background: none;
}


/* touch ui */

@media (pointer: none), (pointer: coarse) {
    body {
        font-size: 3.5vw;
    }
    input {
        border-radius: 30px;
        padding: 30px;
        font-size: 3.5vw;
    }
    .chat {
        bottom: 154px;
    }
    .message {
        border-radius: 30px;
    }
    .sender {
        font-size: x-large;
    }
    .timestamp {
        font-size: medium;
    }
}